<script id="playlist-mini-card-template" type="text/x-jsrender">
<li class="playlist media mt-1">
    <a href="<?= $playlistService->getUrl($playlist) ?>">
      <div class="related-thumb-container bg-dark text-center">
        <img class="playlist-mini-thumb thumb-{{:videoThumbId}}" src="<?= getPlaylistThumbnail($playlist) ?>" />
      </div>
    </a>
    <div class="media-body ml-2">
      <p class="h6 my-0">
        <a href="<?= $playlistService->getUrl($playlist) ?>">{{:name}}</a>
      </p>
      <p class="video-count small">{{:videoCount}} <?= Language::GetText('videos') ?></p>
    </div>
</li>
</script>